<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatYouEat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08236EDC1DAB5D990061EE9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08236EF51DAB5D990061EE9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08236F001DAB5D990061EE9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
